
RewriteEngine On

# RewriteBase /07-Exemples/09-route/

#retire toutes les extensions (dont .php) :
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /%1 [L,R]

#retire le dernier slash :
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

#redirige TOUTES les requettes vers  :
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]
